<div class="row">
    <div class="col-md-12">
        <h2>Resource Links</h2>
        <ul>
            <li><a asp-area="" asp-controller="Contact" asp-action="Index">Add Contact</a></li>
            <li><a href="/swagger">API Documentation</a></li>
        </ul>
    </div>
</div>