@model MailingListApplication.Web.Models.ContactDTO;

    <form asp-controller="Contact" asp-action="Add" method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input asp-for="Email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add Contact</button>
    </form>